# Directories
/build/
/bin/
target/

# Java Files
*.class

# Package Files
*.jar
*.war
*.ear
*.db

## Windows ##

# Image caches
Thumbs.db

# Folder config file
Desktop.ini

## OSX ##

# File storage
.DS_Store
.svn

# Thumbnails
._*

# External Disk files
.Spotlight-V100
.Trashes

## Linux ##

# Backup Files
*~

## Eclipse ##

*.pydevproject
.project
.metadata
.recommenders
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
junittestcases*.properties

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Files based on our ant script
CatanWorkspace/SettlersOfCatan/dist/**/*
CatanWorkspace/demo/logs/**/*

## Exceptions ##
# Add exceptions to the above rules here
!**/lib/**/*.jar
!**/doc/**/*
